/* .content{
    background-color: black;
} */
/* .container-fluid{
    background-color: black;
} */
/* .container-fluid {
    background-color: rgb(244, 244, 236);
  } */
  
/* .content{
    height: 1000vh;
    width:100vh;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 119, 208);
  } */
/*   
  body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(17, 119, 208);
  } */