.card{
width:30%;
margin: auto ;
margin-top: 10%;
background-color:#121212;
}
.btn{
    /* width: 80%; */
    background-color:#1FDF64;
    border-radius: 20px;
    width: 50%;
    margin: auto 25%;
}
.form-control{
    background-color:#121212;
    border-color:skyblue;
   
}
#form2Example1::placeholder{
    color:rgba(245, 245, 245, 0.669);
    font-size:smaller;
}