<div class="container-fluid">
    <div class="row header">
      <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 ">
        <div class="card">
    <h1 class="card-header" style="color: white;">𝗣𝗮𝘀𝘀𝘄𝗼𝗿𝗱 𝗥𝗲𝘀𝗲𝘁</h1>
    <div class="card-body">
        <!-- <h5 class="card-title" style="color: white;">Special title treatment</h5> -->
    <p class="card-text" style="color: white;">Enter your Csoft username, or the email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
        <form [formGroup]="Login" (ngSubmit)="loginform();">
            <!-- Email input -->
            <div class="form-outline mb-6">
              <input type="email" id="form2Example1" placeholder="Email address"   style="color: white;" formControlName="Emailaddress" class="form-control" />
              <label class="form-label" for="form2Example1" style="color: white;">Email address</label>
            </div>

            <button type="submit" class="btn  btn-block  mb-4" >𝐒𝐞𝐧𝐝</button>

              

          </form>
    </div>
  </div>
  </div>

  </div>
  </div>
